body{
    background-color: #ececec;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.container {
    width: 300px;
    border-radius: 10px;
    border: 1px solid purple;
    height: 575px;

}
table {
    width: 250px;
}
.button {
    width: 66.5px;
    height: 66px;
    font-size: 25px;
    margin: 2px;
    cursor: pointer;
    background-color: #b02fce;
    color: white;
    border: none;
    border-radius: 5px;
}
.number {
    color: white;
    background-color: #190042;
}

.input {
    text-align: right;
    width: 100%;
    height: 200px;
    border: none;
    margin: 5px;
    font-size: 25px;
    padding: 5px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin: 0;
}
